body{
	margin: 0;
}
/*titulo*/
.title{
	display: inline-block;
	color: white;
}
.logo{
	display: inline-block;
	vertical-align: top;
}
.cab{
	text-align: center;
	background-color: #1B365D;
	height: 60px;
}
header{
	position: sticky;
	top: 0;
}
nav{
	box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);
}
/*menu horizontal*/
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #00c1d4;
}
li{
	float: left;
}
li a, .dropbot{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover, .drop:hover .dropbot{
	background-color: #0073D4;
}
/* links ativos */
li .ini{
	background-color: #1B365D;
}
/* lista suspensa */
li.drop{
	display: inline-block;
}
.dropcont{
	display: none;
	position: absolute;
	background-color: #cecece;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: 10px;
}
.dropcont a{
	color: #000000;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropcont a:hover {
	background-color: #00c1d4;
	border-radius: 10px;
}
.drop:hover .dropcont{
	display: block;
}
/* display flex */
.ped, .psi{
	display: flex;
	flex-wrap: wrap;
	text-align: center;
	justify-content: center;
}
.ped > article{
	margin: 25px;
}
.psi > article{
	margin: 25px;
}
.border{
	border-radius: 10px;
	box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.2);
	padding: 10px;
}
img:not(.logo){
	border-radius: 10px;
}
.border a {
	text-decoration: none;
	color: white;
	background-color: #1B365D;
	padding: 10px;
	border-radius: 10px;
}
.nome, footer{
	text-align: center;
}
