body{
	margin: 0;
}
/*titulo*/
.title{
	display: inline-block;
	color: #cecece;
}
.logo{
	display: inline-block;
	vertical-align: top;
}
.cab{
	text-align: center;
	background-color: #1B365D;
	height: 60px;
}
/*menu horizontal*/
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #00c1d4;
}
li{
	float: left;
}
li a, .dropbot{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover, .drop:hover .dropbot{
	background-color: #0073D4;
}
/* links ativos */
.ativo1, .ativo2{
	background-color: #1B365D;
}
/* lista suspensa */
li.drop{
	display: inline-block;
}
.dropcont{
	display: none;
	position: absolute;
	background-color: #cecece;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	border-radius: 10px;
}
.dropcont a{
	color: #000000;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropcont a:hover {
	background-color: #00c1d4;
	border-radius: 10px;
}
.drop:hover .dropcont{
	display: block;
}
/* conteudo */
main{
    border-radius: 5px;
    box-shadow: 0px 8px 16px 8px rgba(0,0,0,0.2);
    background-color: #f2f2f2;
    padding: 20px;
	margin-top: 20px;
    margin-left: 200px;
    margin-right: 200px;
}
.medica{
	border-radius: 10px;
}
.bot{
	text-decoration: none;
	background-color: #1B365D;
	color: white;
	padding: 10px;
	border-radius: 10px;
}
table{
	width: 900px;
	border-collapse: collapse;
	text-align: left;
}
th, td{
	padding: 10px;
}
tr:nth-child(even){background-color: #cecece}
th {
	background-color: #1B365D;
	color: white;
}
footer{
	padding: 10px;
	text-align: center;
}